<p-dialog [header]="dialogHeader" 
          [(visible)]="dialogVisible"
          [modal]="true"
          [draggable]="false"
          [resizable]="false"
          [style]="{width: '35vw'}"
          (visibleChange)="changeDialogVisibility($event)">
  <form class="dialog__container" 
        [formGroup]="dialogForm"
        (ngSubmit)="onSubmitValue()">
    <div class="dialog__input">
      <input type="text" 
             pInputText 
             [placeholder]="dialogLabel"
             formControlName="dialog_value"
             [ngClass]="{ 'ng-invalid ng-dirty': isInvalidField }"/>
      <small 
        *ngIf="isInvalidField"
        class="error-message"
      >{{ errorMessage }}</small>
    </div>
    <button pButton 
            pRipple 
            label="Guardar" 
            type="submit"
            icon="pi pi-save"
            class="dialog__save-button"></button>
    <button pButton 
            pRipple
            type="button" 
            label="Cancelar" 
            icon="pi pi-times"
            class="p-button-danger dialog__delete-button"
            (click)="changeDialogVisibility( false )"></button>
  </form>
</p-dialog>