
<div class="todo-list-container">
  <h1>Tus Tareas</h1>
  <div class="todo-list__cards-container">
    <div></div>

    <div class="todo-list__content">
      <p-selectButton [options]="stateOptions" 
                      [formControl]="toggleButton" 
                      optionLabel="label" 
                      optionValue="value"></p-selectButton>
      <hr class="todo-list__separator">

      <div class="todo-list__items">
        <todo-items [todoGroups]="todoGroupsList"
                    [todoType]="toggleValue" />
        <div class="todo_list__new-button" 
             (click)="changeDialogVisibility( true )">
          <i class="pi pi-plus"></i>
        </div>
        
      </div>
    </div>

    <div></div>
  </div>
</div>

<new-value-dialog [dialogVisible]="dialogVisible"
                  [dialogHeader]="'Nuevo Grupo de Tareas'"
                  [dialogLabel]="'Título del Grupo'"
                  (onVisibilityChange)="changeDialogVisibility($event)"
                  (onValueSave)="saveTodoGroup($event)"/>