.todo-list-container {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;

  h1 {
    text-align: center;
  }
}

.todo-list__cards-container {
  display: grid;
  justify-content: stretch;
  grid-template-columns: 10% 1fr 10%;

}

.todo-list__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1rem;
  width: 100%;

  .todo-list__separator {
    width: 100%;
  }

  .todo-list__items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 2rem;
  }
      
  .todo-list__new-button {
    width: 8rem;
    height: 8rem;
    border-radius: 1rem;
    background-color: #fff;
    border: none;

    i {
      font-size: 3rem;
      color: var(--primary-color);
    }

    &:hover,
    &:active {
      background-color: var(--primary-color);
      cursor: pointer;
      
      i {
        color: #fff;
      }
    }
 
  }

}

.todo-list__dialog-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas: 'top top'
                       'left-button right-button';
  width: 100%;
  padding: 2rem 0;
  row-gap: 1rem;

  .todo-dialog__input{
    grid-area: top;
  }

  .todo-dialog__save-button {
    grid-area: left-button;
    width: 50%;
  }

  .todo-dialog__delete-button {
    width: 50%;
    justify-self: end;
  }
}