.todo-list-container {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;

  h1 {
    text-align: center;
  }
}

.todo-list__cards-container {
  display: grid;
  justify-content: stretch;
  grid-template-columns: 10% 1fr 10%;

}

.todo-list__cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}