<form class="todo__detail-container" [formGroup]="todoForm" (ngSubmit)="onSubmit()">
  <div class="todo__detail-body_resume">
    <textarea pInputTextarea 
              formControlName="details"
              placeholder="Detalle de la Tarea..." 
              [autoResize]="false"
              [ngClass]="{ 'ng-invalid ng-dirty': isDetailsFieldInvalid }"></textarea>
  </div>
  <label htmlFor="task"
          id="area-error"
          *ngIf="isDetailsFieldInvalid">{{ detailsErrorMessage }}</label>

  <div class="todo__detail-body_date">
    <label>Fecha Límite</label>
    <div>
      <p-selectButton [options]="stateOptions" 
                      optionLabel="label" 
                      optionValue="value"
                      (onOptionClick)="onDateSelectionChange($event)"></p-selectButton>
      <p-calendar formControlName="end_date" 
                  dateFormat="dd/mm/yy"></p-calendar>
    </div>
  </div>

  <div class="todo__detail-body_priority">
    <label>Prioridad</label>
    <p-dropdown [options]="prioritiesSelect" 
                formControlName="priority" 
                optionLabel="name"></p-dropdown>
  </div>

  <div class="todo__detail-body_action">
    <p-button icon="pi pi-save"
              type="submit"
              [ngClass]="{ 'space-beetween' : !isEmptyForm }"></p-button>
    <p-button icon="pi pi-trash" 
              styleClass="p-button-danger"
              (onClick)="deleteToDo()"
              *ngIf="!isEmptyForm"></p-button>
  </div>
</form>