<div class="todo-items__container">
  <ng-container *ngIf="isTodoGroupForDo()">
    <h2 *ngIf="isToDoNew() && isTodoListEmpty()">Aún no se ha subido ningún grupo de Tareas, prueba a crear uno</h2>
    <todo-card *ngFor="let group of todoGroupsForDo();"
               [todoGroup]="group"
               [type]="todoType"
               (onCheckChangeStatus)="changeTodoGroupStatus($event)"/>
  </ng-container>
  <ng-container *ngIf="!isTodoGroupForDo()">
    <h2 *ngIf="!isToDoNew() && isTodoListEmpty()">Aún no se ha completado ningún grupo de Tareas</h2>
    <todo-card *ngFor="let group of todoGroupsDone();"
               [todoGroup]="group"
               [type]="todoType"
               (onCheckChangeStatus)="changeTodoGroupStatus($event)"/>
  </ng-container>
</div>