
.todo-container {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 5rem 1fr 5rem;
  grid-template-areas: 'header'
                       'main'
                       'footer';
  width: 100%;
  height: 100vh;
  background-color: var(--secondary-color);
}

.todo__header{
  grid-area: header;
  
}
.todo__main {
  grid-area: main;
  height: 100%;
}
.todo__footer {
  grid-area: footer;
}