
.todo-container {
  display: grid;
  grid-auto-rows: 5rem minmax(0, 1fr) 7rem;
  grid-template-areas: 'header'
                       'main'
                       'footer';
  // width: 100%;
  min-height: 100%;
  background-color: var(--secondary-color);
}

.todo__header{
  grid-area: header;
  
}
.todo__main {
  grid-area: main;
  padding-bottom: 2rem;
}
.todo__footer {
  grid-area: footer;
  align-self: center;
}