<div class="header-container">
  <div class="header__logout-container">
    <p-button icon="pi pi-caret-left" 
              styleClass="p-button-warning"
              [routerLink]='todoListPath'
              *ngIf="!isTodoListPage"></p-button>
  </div>
  <div class="header__search-container">
    <span class="p-input-icon-left" *ngIf="isTodoListPage">
      <i class="pi pi-search"></i>
      <input pInputText 
             type="text"
             placeholder="Buscar Tareas" 
             [formControl]="searchControl"/>
    </span>
  </div>
  <div class="header__logout-container">
    <p-button label="Cerrar Sesión" 
              styleClass="p-button-rounded p-button-secondary"
              routerLink="/auth/login"></p-button>
  </div>
</div>
