
.todo__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 2rem;
}

.todo__group-container {
  display: grid;
  grid-template-columns: 20% 1fr 20%;
  justify-items: center;
  width: 100%;
}

.todo__items {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 1rem;
  width: 100%;

  .todo__item-title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;

    input {
      width: 40%;
    }
  }

  todo-item {
    width: 60%;
  }
}
  