<form class="todo__item-container"
      [formGroup]="todoForm"
      (ngSubmit)="onSubmit()"
      [ngClass]="{ 
        'low_priority': todoPriorityCodeForm === 1,
        'medium_priority': todoPriorityCodeForm === 2, 
        'high_priority': todoPriorityCodeForm === 3, 
      }">
  <div class="todo__item-header">
    <span class="p-input-icon-left">
      <i [className]="isEmptyForm ? 'pi pi-plus' : 'pi pi-file-edit'"></i>
      <input type="text"
             pInputText
             name="task" 
             formControlName="task"
             autocomplete="off"
             [placeholder]="isEmptyForm ? 'Escribe algo...' : ''" 
             [ngClass]="{ 'ng-invalid ng-dirty': isInvalidField('task') }"/>
    </span>

    <p-button [icon]="(!isTodoDetailActive()) 
                ?'pi pi-angle-down' 
                :'pi pi-angle-up'"
              type="button"
              (onClick)="onChangeDetailState( isTodoDetailActive() )"  
              *ngIf="!isTodoDone"></p-button>

    <p-button icon="pi pi-check"
              type="button"
              styleClass="p-button-success"
              [disabled]="true"
              *ngIf="isTodoDone"></p-button>

    <label htmlFor="task"
           *ngIf="isInvalidField('task')">{{ getFieldErrorMessage('task') }}</label>
  </div>
  
  <todo-item-detail *ngIf="isTodoDetailActive()"
                    [todoGroupId]="todoGroupId"
                    [todoId]="todo.id"
                    [todoForm]="todoForm"
                    [isEmptyForm]="isEmptyForm"
                    (onSubmitDetail)="onSubmit()"
                    (onShowMessage)="showMessage($event)"></todo-item-detail>
</form>
