<form class="todo__item-container">
  <div class="todo__item-header">
    <span class="p-input-icon-left">
      <i class="pi pi-plus"></i>
      <input type="text" pInputText/>
    </span>
    <p-button 
      [icon]="(!isTodoDetailActive()) ?'pi pi-angle-down' :'pi pi-angle-up'"
      (onClick)="setTodoDetailActive()"
    ></p-button>
  </div>
  <div class="todo__item-body" *ngIf="isTodoDetailActive()">
    <div class="todo__item-body_resume">
      <textarea pInputTextarea [autoResize]="false"></textarea>
    </div>
    <div class="todo__item-body_date">
      <label for="">Fecha Límite</label>
      <div>
        <p-selectButton [options]="stateOptions" optionLabel="label" optionValue="value"></p-selectButton>
        <p-calendar></p-calendar>
      </div>
    </div>
    <div class="todo__item-body_priority">
      <label for="">Prioridad</label>
      <p-dropdown [options]="priorities()" optionLabel="name"></p-dropdown>
    </div>
    <div class="todo__item-body_action">
      <p-button icon="pi pi-trash" styleClass="p-button-danger"></p-button>
    </div>
  </div>
</form>