<form class="todo__item-container"
      [formGroup]="todoForm"
      (ngSubmit)="onSubmit()"
      [ngClass]="{ 
        'low_priority': todoPriority() === 1,
        'medium_priority': todoPriority() === 2, 
        'high_priority': todoPriority() === 3, 
      }"
>
  <div class="todo__item-header">
    <span class="p-input-icon-left">
      <i class="pi pi-plus"></i>
      <input type="text" 
             formControlName="task" 
             pInputText
      />
    </span>
    <p-button [icon]="
                (!isTodoDetailActive()) 
                  ?'pi pi-angle-down' 
                  :'pi pi-angle-up'"
              (onClick)="setTodoDetailActive()"
              type="button"
    ></p-button>
  </div>
  <div class="todo__item-body" *ngIf="isTodoDetailActive()">
    <div class="todo__item-body_resume">
      <textarea pInputTextarea 
                formControlName="detail" 
                [autoResize]="false"
      ></textarea>
    </div>
    <div class="todo__item-body_date">
      <label>Fecha Límite</label>
      <div>
        <p-selectButton [options]="stateOptions" 
                        optionLabel="label" 
                        optionValue="value"
                        (onOptionClick)="onDateSelectionChange($event)"
        ></p-selectButton>
        <p-calendar formControlName="date" dateFormat="dd/mm/yy"></p-calendar>
      </div>
    </div>
    <div class="todo__item-body_priority">
      <label>Prioridad</label>
      <p-dropdown [options]="prioritiesSelect" 
                  formControlName="priority" 
                  optionLabel="name"
                  (onClick)="onPriorityChange()"
      ></p-dropdown>
    </div>
    <div class="todo__item-body_action">
      <p-button icon="pi pi-save"
                type="submit"
                (onClick)="onSubmit()"
                [ngClass]="{ 'space-beetween' : !isEmptyForm() }"
      ></p-button>
      <p-button icon="pi pi-trash" 
                styleClass="p-button-danger"
                (onClick)="deleteToDo()"
                *ngIf="!isEmptyForm()"
      ></p-button>
    </div>
  </div>
</form>