
<div class="login-container">
  <h3 class="title">Inicio de Sesión</h3>
  <form [formGroup]="authForm" class="login__form">
    <div class="form__group">
      <span class="p-float-label">
        <input pInputText id="username" />
        <label htmlFor="username">Correo Electrónico</label>
      </span>
    </div>
    <div class="form__group">
      <span class="p-float-label">
        <p-password [feedback]="false" [toggleMask]="true"></p-password>
        <label htmlFor="username">Contraseña</label>
      </span>
    </div>
  </form>
  
  
  <p-button 
    label="Ingresar" 
    styleClass="p-button-raised" 
    (onClick)="submit()"
  ></p-button>
  
  <div class="login__info">
    <span>¿No tienes cuenta?</span>

    <a routerLink="/auth/register">
      Crea una aquí
    </a>
  </div>

</div>