
<div class="todo-card__container">
  <div class="todo-card__header">
    <h2>{{ todoGroup.title }}</h2>
  </div>

  <div class="todo-card__body">
    <form [formGroup]="cardForm" class="todo-card__content" *ngIf="!isTodoGroupEmpty()">
      <ng-container formArrayName="todoItems">
        <div class="todo-card__content-item" 
             *ngFor="let todo of todoItemsFormArray.controls; let i = index;"
             [ngClass]="{ 
              'low_priority': getTodoPriority(i) === 1,
              'medium_priority': getTodoPriority(i) === 2, 
              'high_priority': getTodoPriority(i) === 3, 
             }">
          <p-checkbox [formControlName]="i" 
                      [inputId]="getFormControlName(i)"
                      [binary]="true"
                      (onChange)="onCheckChange($event, i)"></p-checkbox>
          <label [for]="getFormControlName(i)">{{ getTodoFieldValueByIndex( i ) }}</label>
        </div>
      </ng-container>
    </form>
    <ng-container *ngIf="isTodoGroupEmpty()" class="todo-card__content-item">
      <h4 style="text-align: center;">Aún no existen tareas, prueba a crear a una</h4>
    </ng-container>
  </div>

  <div class="todo-card__footer">
    <p-button
      styleClass="p-button-raised"
      icon="pi pi-plus"
      (onClick)="changeVisibleNewInput(true)"
    ></p-button>
    <p-button
      styleClass="p-button-raised p-button-secondary"
      icon="pi pi-file-edit"
      [routerLink]="'/dashboard/todo/' + todoGroup.id"
    ></p-button>
    <p-button 
      styleClass="p-button-raised"
      icon="pi pi-check" 
      styleClass="p-button-success"
      *ngIf="isTodoType()"
      (onClick)="onDoneTodos()"
    ></p-button>
  </div>
</div>

<p-toast position="bottom-center" key="bc"></p-toast>

<new-value-dialog [dialogVisible]="newInputVisible" 
                  [dialogHeader]="'Nueva Tarea'"
                  [dialogLabel]="'Tarea'"
                  (onVisibilityChange)="changeVisibleNewInput($event)"
                  (onValueSave)="onSubmitNewTodoItem($event)" />