
.todo-card__container {
  display: grid;
  grid-template-rows: 15% 1fr 15%;
  width: 25rem;
  height: 25rem;
  background-color: #fff;
  border-radius: 1rem;
  padding: 1rem;
  row-gap: 0.5rem;
  -webkit-box-shadow: 3px 3px 10px 3px #9b9b9b;
  -moz-box-shadow: 3px 3px 10px 3px #9b9b9b;
  box-shadow: 3px 3px 10px 3px #9b9b9b;
}

.todo-card__header {
  display: inline-block;
  margin: auto;

  h2 {
    margin: 0;
  }
}

.todo-card__body {
  overflow-x: hidden;
  overflow-y: auto;
  scrollbar-width: auto;
  scrollbar-color: #fff #ffffff;

  &::-webkit-scrollbar {
    width: 16px;
  }

  &::-webkit-scrollbar-track {
    background: #ffffff;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #fff;
    border-radius: 10px;
    border: 3px solid #ffffff;
  }

  &:hover,
  &:active {
    scrollbar-color: var(--primary-color) #ffffff;

    &::-webkit-scrollbar-thumb {
      background-color: var(--primary-color);
    }
  }
}

.todo-card__content {
  display: flex;
  flex-direction: column;
  row-gap: 0.3rem;
  height: 100%;
  
  .todo-card__content-item {
    display: grid;
    grid-template-columns: 10% 1fr;
    border: 2px solid var(--surface-500);
    border-radius: 0.5rem;
    
    p-checkbox, i {
      place-self: center;
    }

    i {
      color: var(--primary-color);
      font-size: 1.3rem;
    }
    
    label {
      border-left: 2px solid var(--surface-500);
      padding: 0.3rem;
      position: relative;
      overflow: hidden;
    }
  }
  
  // .low_priority {
  //   border-left: 5px solid var(--primary-color);
  // }
  
  // .medium_priority {
  //   border-left: 5px solid #FFA10B;
  // }
  
  // .high_priority {
  //   border-left: 5px solid #D82B09;
  // }
}

.todo-card__footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  column-gap: 0.5rem;
  width: 100%;
}
