.container {
  height: 100vh;
  display: grid;
  place-content: center;
  background-image: radial-gradient(var(--primary-color) 2px, transparent 2px), radial-gradient(var(--primary-color) 2px, transparent 2px);
  background-size: 32px 32px;
  background-position: 0 0, 16px 16px;
  background-color: var(--secondary-color);
}

.auth-container {
  height: 60vh;
  width: 32vw;
  border: 3px solid var(--primary-color);
  border-radius: 1.5rem;
  background-color: #EBEBD3;
}